/* Global */
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;

}
.container {
  height: 2000px;
}

/* Mobile */
@media (max-width: 769px){
  /* mobile nav */
  header {
    margin-top: 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  h2 {
    color: black;
  }
  #navi {
    position: relative;
    top: 20%;

    transform: skew(-15deg);
  }
  .container {
    margin: 0 auto;
    width: 95%;
  }
  .navigation {
    width: 100%;
  }
  .logo-header img{
    height: 3.2em;
    display: inline-block;
  }
  .links-nav {
    z-index: 900;
    background-color: rgb(225, 250, 0);
    text-align: center;
    position: fixed;
    transition: 500ms ease-in;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transform: translate3d(-100%,0,0);
  }
  .link {
    padding: 0;
    padding-top: 5px;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    font-size: 3em;
  }
  .burger-box {
    z-index: 900;
    display: inline-block;
    height: 3.2em;
    width: 3.2em;
    transition: all 500ms ease-in;
    position: fixed;
    right: 2.5%;
}
  .icon {
    position: absolute;
    width: 43px;
    height: 5px;
    background-color: red;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    transition: 500ms ease-in;
  }
  .icon::before, .icon::after {
    content: '';
    position: inherit;
    width: 43px;
    height: 5px;
    background-color: red;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    transition: 500ms ease-in;
  }
  .icon::before {
    top: -10px;
  }
  .icon::after {
    top: 15px;
  }
  .icon.icontog {
    width: 24px;
    height: 1px;
    height: 2px;
    background-color:  rgba(0,0,0,1);
  }
  .icon.icontog::before, .icon.icontog::after {
    width: 25px;
    height: 2px;
    background-color:  rgba(0,0,0,1);
  }
  .icon.icontog::before {
    top: -6px;
  }
  .icon.icontog::after{
    top: 9px;
  }
  .scrollNav {
    height:2em;
    width: 2em;
    border: solid 1px black;
  }
  .togMenu {
  transform: translate3d(0,0,0);
  transform: skew(15deg);
  }
  .rotateM {
    transform: rotate(90deg);
  }

/* Mobile Main Container */
  .main-jumbo {
    overflow: hidden;
    height: 220px;
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    margin-top: 10px;
  }
  .side-content {
    visibility: hidden;
    opacity: 0;
    padding-top: 1em;
    position: relative;
    transition: opacity 500ms ease-in;
  }
  .side-content h1{
    margin: 0;
    font-weight: bolder;
    font-size: 2.5em;
    color: white;

  }
  .side-content p {
    color: white;
  }
  .side-jumbo {
    position: absolute;
    background-size: cover;
    background-image: url(../images/main-jumbo.jpg);
    height: 300px;
    width: 100%;
    transition: opacity 100ms ease-out;
    transition: 250ms ease-out;
    filter:blur(1px);
    opacity: .8;

  }
  .showT {
    visibility: visible;
    opacity: 1;
  }
  .gallery {
    background-color: rgba(242,239,255,.8);
    height: 700px;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  .picture-m {
    overflow: hidden;

    width: 90%;
    margin: auto;
  }


  /*GALLERY*/
  #gallery-pic {
    width: 100%;
  }
  .gallery-text {
    width: 90%;
    margin: auto;
    opacity: 0;
    transition: 500ms ease-in;
  }
  .show{
    color: red;
    font-weight: bold;
  }
  .gallery-p {
    width: 90%;
    margin: auto;
  }
  .gallery-p p{
    margin: 0;
    display: inline;
  }





}
